{
  "Description": "A simple Lambda function saying \"Hello World\".",
  "Resources": {
    "HelloWorld": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "org.poc.learn.function.HelloWorld",
        "Runtime" : "java8",
        "CodeUri" : "./target/poc-1-1.0.0.jar"
      }
    }
  }
}
